@page
@model MyfirstMVC.Pages.User.ManageUserModel
@{
}

<link rel="stylesheet" href="~/css/striped-table.css">
<link rel="stylesheet" href="~/css/action-button.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div>
    <h1>User List</h1>

    @if (Model.Users != null && Model.Users.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>
                            <form method="post" asp-page-handler="EditButton" class="inline-form">
                                @Html.AntiForgeryToken()
                                <button class="action-btn edit-btn focus:outline-none focus:ring-2 focus:ring-blue-500"
                                        type="submit"
                                        title="Edit @user.Email"
                                        alt="Edit @user.Email">
                                    <i class="fas fa-edit"></i><span class="spacer"></span>
                                </button>
                                <input type="hidden" name="id" value="@user.UserId" />
                            </form>
                            <form method="post" asp-page-handler="DeleteButton" class="inline-form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@user.UserId" />
                                <button class="action-btn delete-btn focus:outline-none focus:ring-2 focus:ring-blue-500"
                                        type="submit"
                                        title="Delete @user.Email"
                                        alt="Delete @user.Email">
                                    <i class="fas fa-trash-alt"></i><span class="spacer"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No users found.</p>
    }
</div>